$vertical-padding: 24px;

$font-weight-black: 900;

$turquoise: #4d96a9;
$dark-purple: #855fb1;
$black: #28283d;
$grey: #87879d;
$light-grey: #d8d8d8;
$light-blue: #8fe3f9;
$light-purple: #d9b8ff;
$off-white: #fafafa;

$desktop-width: 1200px;
$tablet-width: 768px;