.button-row{
  @media (min-width: $tablet-width) {
    &\@tb {
      display: flex;
      /* justify-content: center;*/
      width: fit-content;
    }
    &__item\@tb {
      margin-right: 16px;
    }
  }
}