.section-3{
  text-align: center;
  padding: 92px 6% 72px;
  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
  }

  background-image:
          linear-gradient(90deg, rgba($turquoise,0.9), rgba($turquoise,0.9)),
          url('./assets/mobile/image-footer.jpg');
  background-size: cover;
  &__title{
    padding: 0 0 24px;
    flex: 0 0 350px;
  }

  &__paragraph{
    margin: 0 0 32px;

    flex: 0 0 350px;

    @media (min-width: $tablet-width){
      margin-bottom: 40px;
    }
  }

  &__button{
    margin: 0 auto 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 116px 165px 104px;
    align-items: flex-start;

    &__title{
      margin: 0;
      flex: 0 0 350px;
      text-align: left;
      font-size: rem(40);
    }

    &__paragraph{
      margin: 0;
      flex: 0 0 350px;
      text-align: left;


    }

    &__button{
      margin: 0;
    }
  }
}